* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #11071F;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 50px;

}
.header {
    background-color: rgba(26, 11, 46, 1);
    color: #fff;
    padding: 20px;
    width: 100%;
    height: 12vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo img {
    width: 90px;
}
.menu {
    width: 30%;
}
.menu ul{
    list-style: none;
    display: flex;
    justify-content: space-between;

}
.menu ul li a {
    color: white;
    text-decoration: none;
}
.menu ul li a:hover {
    color: rgba(113, 39, 186, 1); 
}
.content {
    background-color: #11071F;
    color: #fff; 
    margin-top: 117px;
}
.main {
    display: flex;
    justify-content: space-between;
    gap: 60px;
    margin-bottom: 80px;
}
.content1 {
    position: relative;
}
.content1 p {
    position: absolute;
    top: -27px;
    left: 262px;
    width: 172px;
}
.arrow {
    position: absolute;
    top: -50px;
    left: 147px;

}
span {
    color: rgba(113, 39, 186, 1);
}
.ellipse {
    width: 136px;
    top: -37px;
    left: 355px;
    position: relative;
}
.content1 {
    width: 300px;
    height: 300px;
    text-shadow: 0px 0px 10px #fafafa, 0px 0px 20px #fff;
}

.fille {
    width: 200px;
    height: 200px;
}

.lumiere {
    width: 300px;
    height: 300px;
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(105, 59, 147, 1) 30%, #320f85 50%, #11071f 71%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.content2 {
    width: 715px;
    margin-top: 124px;
}
.content3 {
    margin-bottom: 50px;
}
.content3 a {
    text-decoration: none;
    color: rgb(169, 145, 230);
}
.descoduses {
    width: 15px;
    height: 15px;
    border-radius: 100%;
}
.content4 {
    margin-bottom: 100px;
}
.content5 {
    position: relative;
    width: 80%;
    margin: 0 auto;
    min-height: 100vh;
}
.lumiere1 {
    position: absolute;
    top: 0;
    left: 268px;
    width: 500px;
    height: 500px;
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(118,60,172,1) 30%, #320F85 50%, #11071f 65%);
}
.skills {
    position: absolute;
    width: 100%;
    height: 100vh;
    display: grid; 
    grid-template-columns: 1fr 1fr; /* définit explicitement une grille de deux colonnes */
    grid-template-rows: 1fr 1fr; /* définit explicitement  une grille de quatre lignes*/
    gap: 20px;
}
button {
    height: 35px;
    width: 131px;
    background-color: #2C1250;
    border-color: rgba(105, 59, 147, 1);
    border-radius: 13px;
    color: #fff;
}
.skill1 {
    width: 100%;
    height: 56%;
    grid-column: 1/2;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin: 20px;
    gap: 14px;
    background-image:radial-gradient(circle at 81.26% 68.05%, #26204e 0, #280d6a 25%, #1a1937 50%, #050228 75%, rgba(26, 11, 46, 1) 100%);                                             
    border-radius: 13px;
    border: solid rgba(105, 59, 147, 1);
    border-bottom: 25px;
}
.image {
    grid-column: 1/2;
    grid-row: 1/4;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text {
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    align-items: end;
}
.paragraphe {
    grid-column: 2/3;
    grid-row: 2/3;
}
.bouton {
    grid-column: 2/3;
    grid-row: 3/4;
    
}
.skill2 {
    width: 100%;
    height: 56%;
    grid-column: 2/3;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin: 20px;
    gap: 14px;
    border-radius: 13px;
    border: solid rgba(105, 59, 147, 1);
    border-bottom: 25px;
    background: linear-gradient(135deg,  rgba(27,26,55,1) 19%, #320F85 26%,rgba(27,26,55,1) 56%,rgba(27,26,55,1) 56%,rgba(27,26,55,1) 86%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.image1 {
    grid-column: 1/2;
    grid-row: 1/4;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.text1 {
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    align-items: end;
}
.paragraphe1 {
    grid-column: 2/3;
    grid-row: 2/3;
}
.bouton1 {
    grid-column: 2/3;
    grid-row: 3/4;
}
.skill3 {
    width: 100%;
    height: 56%;
    grid-column: 1/2;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin: 20px;
    gap: 14px;
    border-radius: 13px;
    border: solid rgba(105, 59, 147, 1);
    border-bottom: 25px;
    background: linear-gradient(117deg, rgb(1 1 19) 15%, rgba(50, 15, 133, 1) 35%, rgba(50, 15, 133, 1) 15%, rgba(27, 26, 55, 1) 60%, #11071f 100%, rgba(27, 26, 55, 1) 100%);
}
.image2 {
    grid-column: 1/2;
    grid-row: 1/4;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text2 {
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    align-items: end;
}
.paragraphe2 {
    grid-column: 2/3;
    grid-row: 2/3;
}
.bouton2 {
    grid-column: 2/3;
    grid-row: 3/4;
}
.skill4 {
    width: 100%;
    height: 56%;
    grid-column: 2/3;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin: 20px;
    gap: 14px;
    border-radius: 13px;
    border: solid rgba(105, 59, 147, 1);
    background: linear-gradient(348deg, #4d00db 22%, #280d6a, rgba(26, 11, 46, 1), #000000 60%);
}
.image3 {
    grid-column: 1/2;
    grid-row: 1/4;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text3 {
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    align-items: end;
}
.paragraphe3 {
    grid-column: 2/3;
    grid-row: 2/3;
}
.bouton3 {
    grid-column: 2/3;
    grid-row: 3/4;
}

.content6 {
    width: 100%;
    height: 100%;
    text-align: center;
}
.project1{
    position: relative; 
    display: flex;
    justify-content: center;

}

.p-overlap {
    padding: 30px;
    margin: 30px -22px;
    position: relative;
    top: -20px;
    left: 20px; 
    z-index: 3; 
    background: #2c12506e;
    border-radius: 8px;
  }

.phrase {
    width: 50%;
    height: 100px;
}
.lumiere2{
    position: relative;
}
.enveloppe {
    z-index: 2;
    width: 309px;
    height: 194px;
    margin: 1em auto;
    box-shadow: 0 0 30px rgba(118, 60, 172, 1);
    border: 1px solid rgba(118, 60, 172, 1);
    border-radius: 3px;
    background: rgba(255, 255, 255, 1);
    position: relative; 
    text-align: center;
    color: white;
    font-family: Courier, monospace;
    font-size: 1em;
    text-shadow: -1px -1px 1px rgba(113, 39, 186, 1), 1px 1px 1px rgb(114, 31, 198);
    line-height: 20px;
    overflow: hidden; 
  }
  
  .enveloppe:before,
  .enveloppe:after {
    content: '';
    position: absolute;
    width: 57.5%;
    height: 1px;
    background: #fff;
    box-shadow: 0 0 3px 2px rgba(113, 39, 186, 1), 340px -82px 4px 1px rgba(113, 39, 186, 1), 0 3px 5px #11071f;
    top: 2px;
    left: 2px;
    transform-origin: top left;
  }
  
  .enveloppe:after {
    transform: rotate(-30deg);
    transform-origin: top right;
    left: auto;
    right: 2px;
    background: #fff;
    box-shadow: 0 0 3px 2px rgba(113, 39, 186, 1), 340px -82px 4px 1px rgba(113, 39, 186, 1), 0 3px 5px #11071f;
  }
  
  .enveloppe:before {
    transform: rotate(30deg);
  }
  
  b {
    display: block;
    color: rgba(0, 0, 0, 0.189);
    font-variant: small-caps;
    transform: rotate(-30deg) translate(5px, 47px);
    opacity: 0.3;
  }
  
  b:before {
    content: '';
    display: inline-block;
    border-radius: 100%;
    width: 0.5em;
    height: 1em;
    box-shadow: -14px 0 5px rgba(255, 255, 255, 0.2); 
    transform: rotate(-25deg);
    margin-left: 1em;
    margin-right: 1em;
  }
  .project2{
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;

}
.phrase1 {
    width: 50%;
    height: 100px;
}
.span {
    display: flex;
    justify-content: flex-end;
}
.span1 {
    display: flex;
    justify-content: flex-end;
}
.p-overlap1 {
    height: 100px;
    background: #2c12506e;
    margin: 30px -25px;
    position: relative;
    top: -20px;
    right: 20px;
    z-index: 3;
    padding: 10px;
    border-radius: 5px;
  }
  
  .enveloppe1 {
    z-index: 2;
    width: 309px;
    height: 194px;
    margin: 1em auto;
    box-shadow: 0 0 30px rgba(118, 60, 172, 1);
    border: 1px solid rgba(118, 60, 172, 1);
    border-radius: 3px;
    background: rgba(255, 255, 255, 1);
    position: relative; 
    text-align: center;
    color: white;
    font-family: Courier, monospace;
    font-size: 1em;
    text-shadow: -1px -1px 1px rgba(113, 39, 186, 1), 1px 3px 3px #320486;
    line-height: 20px;
    overflow: hidden; 
  }
  
  .enveloppe1:before,
  .enveloppe1:after {
    content: '';
    position: absolute;
    width: 57.5%;
    height: 1px;
    background: #fff;
    box-shadow: 0 0 3px 2px rgba(113, 39, 186, 1), 340px -82px 4px 1px rgba(113, 39, 186, 1), 0 3px 5px #11071f;
    top: 2px;
    left: 2px;
    transform-origin: top left;
  }
  
  .enveloppe1:after {
    transform: rotate(-30deg);
    transform-origin: top right;
    left: auto;
    right: 2px;
    background: #fff;
    box-shadow: 0 0 3px 2px rgba(113, 39, 186, 1), 340px -82px 4px 1px rgba(113, 39, 186, 1), 0 3px 5px #11071f;
  }
  
  .enveloppe1:before {
    transform: rotate(30deg);
  }
  
  .b1 {
    display: block;
    color: rgba(0, 0, 0, 0.189);
    font-variant: small-caps;
    transform: rotate(-30deg) translate(-1px, 36px);
    opacity: 1.3;
  }
  
  .b1:before {
    content: '';
    display: inline-block;
    border-radius: 100%;
    width: 0.5em;
    height: 1em;
    box-shadow: -14px 0 5px rgba(255, 255, 255, 0.2); 
    transform: rotate(-25deg);
    --margin-left: 1em;
    margin-right: 1em;
  }
  .contact p {
    margin: 70px 0px;
  }
  .contact1 {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
    font-size: 2rem;
  }
  .contact .contact1 i:hover {
    color: rgba(113, 39, 186, 1);
}

